# File edited for version # 3.0.0

[gerrit]
	# Local filesystem directory holding all Git repositories that Gerrit knows about and can process changes for
	basePath = git
	# The default URL for Gerrit to be accessed through
	canonicalWebUrl = http://review.localhost
	serverId = 80a77a5d-80ce-48c9-9537-d7099ad69a91

[index]
	# Used by NoteDb to, amongst other things, identify author identities from per-server specific account IDs.
	type = LUCENE

[auth]
	type = ldap
	# The password in the request is validated against the LDAP password
	gitBasicAuthPolicy = LDAP

[ldap]
	server = ldaps://ldap.localinfra.org
	username = cn=gerrit,dc=localinfra,dc=org
	# Root of the tree containing all user accounts 
	accountBase = dc=localinfra,dc=org
	# Query pattern to use when searching for a user account
	accountPattern = (&(objectClass=person)(uid=${username}))
	accountFullName = displayName
	accountEmailAddress = mail
	# Root of the tree containing all group objects.
	groupBase = ou=groups,dc=localinfra,dc=org

[sshd]
	# Specifies the local addresses the internal SSHD should listen for connections on. The following forms may
	# be used to specify an address. In any form, :'port' may be omitted to use the default of 29418.
	listenAddress = *:29418

[httpd]
	# The httpd section configures the embedded servlet container.
	listenUrl = http://*:8080/

[cache]
	# Path to a local directory where Gerrit can write cached entities for future lookup
	directory = cache

[container]
	# Login name (or UID) of the operating system user the Gerrit JVM will execute as. If not set, defaults to the user who
	# launched the 'gerrit.sh' wrapper script.
	user = root
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.212.b04-0.el7_6.x86_64/jre
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = -Djava.security.egd=file:/dev/./urandom

[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
 
